html { font-size: 100% }
body { font-size: 0.75em }
h1 { font-size: 2em }


.top {
    background-image: url("https://assets.newatlas.com/dims4/default/1237e0b/2147483647/strip/true/crop/1999x1328+0+0/resize/1440x957!/format/webp/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Ffe%2F06%2F75f2c8704c71ade9c8881c997c8f%2Fdepositphotos-41105113-l-2015.jpg");
    min-height: 100%;
    background-size: cover; 

}

.bottom {
    background-image: url("https://www.maritime-executive.com/media/images/Sohar%20Max%20berthed%20at%20Oman%20Drydock%20(2).jpg");
    min-height: 100%;
    background-size: cover; 
}

h1 {
    text-align:center;
}